/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.floating {
    float:left;
    overflow:hidden;
}
.resource img {
    display:block;
    width:50px;
    height:50px;
    margin: 0;
}

.resource {
    width:70px;

}

.dockFloating {
    float: left;
}

.dockResource img {
    width: 50px;
    height: 50px;
}

.drag {
    opacity : 0.25;
}
.over {
    background-color: azure;
}
#marked img {
    display:block;
    width:50px;
    height:50px;
}

.jumbotron {
    background-color:#E8793D;
}




.span8 {
    margin-left: 21%;
    margin-right: 21%;
}
.span10{
    margin-left:17%;
}



.span3 {
    width: 15%;
    float: left;
}

.span2 {
    width: 20%;
    float: right;
    border-radius:6px;

    left:10px;
}


.row:before, 
    .row:after {
        content:"";
        display: table ;
         clear:both;
    }

.grid-container{
        width: 100%; 
        max-width: 1200px;      
    }

[class*='col-'] {
        float: left; 
        min-height: 74px; 
        width: 16.66%; 
        padding: 12px; 
        background-color:  #ffffff;
        color:#302E2A; 
    }

    .col-1{ width: 12.5%; outline: 1px solid #302E2A;}




    /*-- some extra column content styling --*/
    [class*='col-'] > p {
     background-color:  #FFBE7F; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color:#302E2A; 
    }

.col-1 p{
    font-size:13px;
}

#sellBox {
    text-align: center;
    border-color:black;
    border:1px solid;
    width:60px;
    height:60px;

}
#sellBox img {
    display:block;
    width:50px;
    height:50px;
}

input.hidden {
    display:none;
}

#marked {
    position:relative;
}
#markedContent{
    overflow-y:scroll;
    height:280px;
    width:500px;
    position:absolute;
    top:130px;
    left:50px;
}

#hideshow {
    display:none;
}

.horseLink {
    float:right;
    margin-bottom:10px;
}

.horseLink img {
    height:65px;
    width:100px;
}

.buildings {
    height:50px;
    width:50px;
    opacity:0.7;
}

h3 {
    font-size:medium;
    margin: 0;
    font-family: Medieval, serif;
}

h1,h2,h4 {
    font-family: Medieval, serif;
}

p{
    font-size:medium;
}
li{
    font-size:14px;
    display:inline-block;
}
#invisibleLines {
    border:0 none;
    color:white;
    visibility:hidden;
    clear:both;
}

div.scroll {
    background-color: #FFFFFF;
    width: 100px;
    height: 100px;
    overflow-y: scroll;
}

.nav-tabs > li{
  width:25%;
}

.nav-tabs > li > a > p{
  word-wrap:break-word;
  margin-left:-14px;
  margin-right:-14px;
  margin-top:-10px;
  margin-bottom:-10px;
  height:45px;
  font-size:80%
}

.chatbox{
	overflow-y:scroll;
	height:300px;
	font-size:90%;
	padding:8px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.tradeOffer img {
    width: 50px;
    height: 50px;
}

#tradeOffers {
    
}

.tradeOffer {
    float: right;
    border: 1px solid black;
    margin-bottom: 10px;
}

.tradeOffer button{
    
}

.myMessage{
    float:right;
}

.otherMessage {
    float:left;
}

#dropdownSelected {
    margin: 0;
}

.tradeOfferButton {
    width: 50px;
    height: 50px;
    background-size: 100%;
    border: 0;
    background-image: url('Images/firewood.png');
}

#goldImage {
    width:60px;
    height:60px;
}

.resContainer {
    clear: both;
    background-color:red;
}

.tradeOfferDiv {
    float: left;

}

.tradeOfferDiv img {
    width: 50px;
    height: 50px;

}

@font-face {
  font-family: Medieval;
  src: url(GoudyMediaevalRegular.ttf);
}


*{ font-family: Medieval, serif; }
