/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.floating {
    float:left;
    overflow:hidden;
}
.resource img {
    display:block;
    width:50px;
    height:50px;
}

.drag {
    opacity : 0.25;
}
.over {
    background-color: azure;
}
#marked img {
    display:block;
    width:50px;
    height:50px;
}

.jumbotron {
    background-color:#E8793D;
}




.span8 {
    margin-left: 21%;
    margin-right: 21%;
}

.span3 {
    width: 20%;
    float: left;
    background-color:#E8793D;
}

.span2 {
    width: 20%;
    float: right;
    border-radius:6px;
}


.row:before, 
    .row:after {
        content:"";
        display: table ;
         clear:both;
    }

.grid-container{
        width: 100%; 
        max-width: 1200px;      
    }

[class*='col-'] {
        float: left; 
        min-height: 74px; 
        width: 16.66%; 
        padding: 12px; 
        background-color:  #FFBE7F;
        color:#302E2A; 
    }

    .col-1{ width: 12.5%; outline: 1px solid #302E2A;}




    /*-- some extra column content styling --*/
    [class*='col-'] > p {
     background-color:  #FFBE7F; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color:#302E2A; 
    }

.col-1 p{
    font-size:13px;
}

#sellBox {
    text-align: center; 
}
#sellBox img {
    display:block;
    width:50px;
    height:50px;
}

input.hidden {
    display:none;
}

#marked {
    position:relative;
}
#markedContent{
    height:400px;
    width:500px;
    position:absolute;
    top:250px;
    left:50px;
}