################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/02148_Project.Server.Test/obj/Debug/build.force
/02148_Project.Server.Test/obj/Debug
/02148_Project.Client.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/02148_Project.Client.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/02148_Project.Client.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/02148_Project.Client.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/02148_Project.Client.Test/obj/Debug
/02148_Project.Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/02148_Project.Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/02148_Project.Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/02148_Project.Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/02148_Project.Client/obj/Debug/build.force
/02148_Project.Client/obj/Debug
/02148_Project/obj/Debug/build.force
/02148_Project.Client.Test/bin/Debug/TextWriterOutput.log
/02148_Project.Website/bin/WebGrease.dll
/02148_Project.Website/bin/System.Web.Providers.xml
/02148_Project.Website/bin/System.Web.Providers.dll
/02148_Project.Website/bin/System.Web.Optimization.xml
/02148_Project.Website/bin/System.Web.Optimization.dll
/02148_Project.Website/bin/roslyn/VBCSCompiler.exe.config
/02148_Project.Website/bin/roslyn/VBCSCompiler.exe
/02148_Project.Website/bin/roslyn/vbc.exe
/02148_Project.Website/bin/roslyn/System.Reflection.Metadata.dll
/02148_Project.Website/bin/roslyn/System.Collections.Immutable.dll
/02148_Project.Website/bin/roslyn/Microsoft.VisualBasic.Core.targets
/02148_Project.Website/bin/roslyn/Microsoft.CSharp.Core.targets
/02148_Project.Website/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/02148_Project.Website/bin/roslyn/Microsoft.CodeAnalysis.dll
/02148_Project.Website/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/02148_Project.Website/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/02148_Project.Website/bin/roslyn/csc.exe
/02148_Project.Website/bin/roslyn
/02148_Project.Website/bin/Owin.dll
/02148_Project.Website/bin/Newtonsoft.Json.xml
/02148_Project.Website/bin/Newtonsoft.Json.dll
/02148_Project.Website/bin/Microsoft.Web.Infrastructure.dll
/02148_Project.Website/bin/Microsoft.ScriptManager.WebForms.dll
/02148_Project.Website/bin/Microsoft.ScriptManager.MSAjax.dll
/02148_Project.Website/bin/Microsoft.Owin.xml
/02148_Project.Website/bin/Microsoft.Owin.Security.xml
/02148_Project.Website/bin/Microsoft.Owin.Security.Twitter.xml
/02148_Project.Website/bin/Microsoft.Owin.Security.Twitter.dll
/02148_Project.Website/bin/Microsoft.Owin.Security.OAuth.xml
/02148_Project.Website/bin/Microsoft.Owin.Security.OAuth.dll
/02148_Project.Website/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
/02148_Project.Website/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
/02148_Project.Website/bin/Microsoft.Owin.Security.Google.xml
/02148_Project.Website/bin/Microsoft.Owin.Security.Google.dll
/02148_Project.Website/bin/Microsoft.Owin.Security.Facebook.xml
/02148_Project.Website/bin/Microsoft.Owin.Security.Facebook.dll
/02148_Project.Website/bin/Microsoft.Owin.Security.dll
/02148_Project.Website/bin/Microsoft.Owin.Security.Cookies.xml
/02148_Project.Website/bin/Microsoft.Owin.Security.Cookies.dll
/02148_Project.Website/bin/Microsoft.Owin.Host.SystemWeb.xml
/02148_Project.Website/bin/Microsoft.Owin.Host.SystemWeb.dll
/02148_Project.Website/bin/Microsoft.Owin.dll
/02148_Project.Website/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/02148_Project.Website/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/02148_Project.Website/bin/Microsoft.AspNet.Web.Optimization.WebForms.dll
/02148_Project.Website/bin/Microsoft.AspNet.Identity.Owin.xml
/02148_Project.Website/bin/Microsoft.AspNet.Identity.Owin.dll
/02148_Project.Website/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/02148_Project.Website/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/02148_Project.Website/bin/Microsoft.AspNet.Identity.Core.xml
/02148_Project.Website/bin/Microsoft.AspNet.Identity.Core.dll
/02148_Project.Website/bin/Microsoft.AspNet.FriendlyUrls.xml
/02148_Project.Website/bin/Microsoft.AspNet.FriendlyUrls.dll
/02148_Project.Website/bin/Microsoft.ApplicationInsights.xml
/02148_Project.Website/bin/Microsoft.ApplicationInsights.dll
/02148_Project.Website/bin/Microsoft.AI.WindowsServer.xml
/02148_Project.Website/bin/Microsoft.AI.WindowsServer.dll
/02148_Project.Website/bin/Microsoft.AI.Web.xml
/02148_Project.Website/bin/Microsoft.AI.Web.dll
/02148_Project.Website/bin/Microsoft.AI.ServerTelemetryChannel.xml
/02148_Project.Website/bin/Microsoft.AI.ServerTelemetryChannel.dll
/02148_Project.Website/bin/Microsoft.AI.PerfCounterCollector.dll
/02148_Project.Website/bin/Microsoft.AI.DependencyCollector.xml
/02148_Project.Website/bin/Microsoft.AI.DependencyCollector.dll
/02148_Project.Website/bin/Microsoft.AI.Agent.Intercept.dll
/02148_Project.Website/bin/EntityFramework.xml
/02148_Project.Website/bin/EntityFramework.SqlServer.xml
/02148_Project.Website/bin/EntityFramework.SqlServer.dll
/02148_Project.Website/bin/EntityFramework.dll
/02148_Project.Website/bin/AspNet.ScriptManager.jQuery.dll
/02148_Project.Website/bin/AspNet.ScriptManager.bootstrap.dll
/02148_Project.Website/bin/Antlr3.Runtime.pdb
/02148_Project.Website/bin/Antlr3.Runtime.dll
/02148_Project.Website/bin/02148_Project.Website.pdb
/02148_Project.Website/bin/02148_Project.Website.dll.config
/02148_Project.Website/bin/02148_Project.pdb
/02148_Project.Website/bin/02148_Project.Model.pdb
/02148_Project.Website/bin/02148_Project.Model.dll
/02148_Project.Website/bin/02148_Project.dll
/02148_Project.Website/bin/02148_Project.Client.pdb
/02148_Project.Website/bin/02148_Project.Client.dll
/02148_Project.Website/bin
/02148_Project.Server.Test/bin/Debug/Server.Test.pdb
/02148_Project.Server.Test/bin/Debug/Server.Test.dll
/02148_Project.Server.Test/bin/Debug/02148_Project.pdb
/02148_Project.Server.Test/bin/Debug/02148_Project.Model.pdb
/02148_Project.Server.Test/bin/Debug/02148_Project.Model.dll
/02148_Project.Server.Test/bin/Debug/02148_Project.dll
/02148_Project.Server.Test/bin/Debug
/02148_Project.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/02148_Project.Model/obj/Debug/02148_Project.Model.pdb
/02148_Project.Model/obj/Debug/02148_Project.Model.dll
/02148_Project.Model/obj/Debug/02148_Project.Model.csprojResolveAssemblyReference.cache
/02148_Project.Model/obj/Debug/02148_Project.Model.csproj.FileListAbsolute.txt
/02148_Project.Model/obj/Debug
/02148_Project.Model/bin/Debug/02148_Project.Model.pdb
/02148_Project.Model/bin/Debug/02148_Project.Model.dll
/02148_Project.Model/bin/Debug
/02148_Project.Model
/02148_Project.Client.Test/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
/02148_Project.Client.Test/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/02148_Project.Client.Test/bin/Debug/02148_Project.pdb
/02148_Project.Client.Test/bin/Debug/02148_Project.Model.pdb
/02148_Project.Client.Test/bin/Debug/02148_Project.Model.dll
/02148_Project.Client.Test/bin/Debug/02148_Project.dll
/02148_Project.Client.Test/bin/Debug/02148_Project.Client.Test.pdb
/02148_Project.Client.Test/bin/Debug/02148_Project.Client.Test.dll
/02148_Project.Client.Test/bin/Debug/02148_Project.Client.pdb
/02148_Project.Client.Test/bin/Debug/02148_Project.Client.dll
/02148_Project.Client.Test/bin/Debug
/02148_Project.Client/bin/Debug/02148_Project.pdb
/02148_Project.Client/bin/Debug/02148_Project.Model.pdb
/02148_Project.Client/bin/Debug/02148_Project.Model.dll
/02148_Project.Client/bin/Debug/02148_Project.dll
/02148_Project.Client/bin/Debug/02148_Project.Client.pdb
/02148_Project.Client/bin/Debug/02148_Project.Client.dll
/02148_Project.Client/bin/Debug
/02148_Project/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/02148_Project/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/02148_Project/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/02148_Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/02148_Project/obj/Debug/02148_Project.Server.csprojResolveAssemblyReference.cache
/02148_Project/obj/Debug/02148_Project.Server.csproj.FileListAbsolute.txt
/02148_Project/obj/Debug/02148_Project.pdb
/02148_Project/obj/Debug/02148_Project.dll
/02148_Project/obj/Debug
/02148_Project/bin/Debug/02148_Project.pdb
/02148_Project/bin/Debug/02148_Project.Model.pdb
/02148_Project/bin/Debug/02148_Project.Model.dll
/02148_Project/bin/Debug/02148_Project.dll
/02148_Project/bin/Debug
/02148_Project
/.vs/02148_Project/v14/.suo
